{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sondage {{ sondage.id }}</h1>

    <a class="" href="{{ path('projet_show', { 'id': sondage.idprojet.id }) }}">Retour au projet</a>
    <p>{{ sondage.question }}</p>
    <ul>
        {% for reponse in sondage.reponse%}
            <li>
                <p>Réponse {{ loop.index }} : {{ reponse.reponse }}</p>
            </li>
        {% endfor %}

    </ul>

    {% if app.user.idproprietaire == sondage.idprojet.proprietaire %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Ajouter la réponse" class="btn btn-default"/>
    {{ form_end(form) }}
    {% endif %}
{% endblock %}
