{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sondage {{ sondage.id }}</h1>

    <td>{{ sondage.question }}</td>
    <ul>
        {% for reponse in sondage.reponse%}
            <li>
                {{ reponse.reponse }}
            </li>
        {% endfor %}

    </ul>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Ajouter la réponse" class="btn btn-default"/>
    {{ form_end(form) }}

{% endblock %}
