{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des charges</h1>
    {% if is_granted('ROLE_ADMIN')%}
        <ul>
            <li>
                <a href="{{ path('addCharge') }}">Nouvelle charge</a>
            </li>
        </ul>
    {% endif %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Montant</th>
            <th>Date d'échéance</th>
            <th>Statut</th>
            <th>Pièce jointe</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for charge in charges %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('charge_admin_show', { 'id': charge.id }) }}">{{ charge.id }}</a></td>
                {% endif %}
                {% if is_granted('ROLE_PROPRIETAIRE') %}
                    <td><a href="{{ path('charge_proprietaire_show', { 'id': charge.id }) }}">{{ charge.id }}</a></td>
                {% endif %}
                <td>{{ charge.titre }}</td>
                <td>{{ charge.montant }}</td>
                <td>{% if charge.dateEcheance %}{{ charge.dateEcheance|date('Y-m-d') }}{% endif %}</td>
                <td>{{ charge.statut }}</td>
                <td>{{ charge.pieceJointe }}</td>
                <td>
                    <ul>
                        <li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('charge_admin_show', { 'id': charge.id }) }}">Regarder</a>
                            {% endif %}
                            {% if is_granted('ROLE_PROPRIETAIRE') %}
                                <a href="{{ path('charge_proprietaire_show', { 'id': charge.id }) }}">Regarder</a>
                            {% endif %}
                        </li>
                        <li>
                            <a href="{{ path('charge_edit', { 'id': charge.id }) }}">Editer</a>
                        </li>
                        <li>
                            <a href="{{ path('charge_delete', { 'id': charge.id }) }}">Supprimer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
