{% extends 'base.html.twig' %}

{% block body %}
    <h1>Charge</h1>
    <ul class="nav navbar-nav">
        <li>
            <a href="{{ path('charge_edit', { 'id': charge.id }) }}">Editer</a>
        </li>
        <li>
            <a href="{{ path('charge_delete', { 'id': charge.id }) }}">Supprimer</a>
        </li>
    </ul>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ charge.id }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ charge.titre }}</td>
        </tr>
        <tr>
            <th>Montant</th>
            <td>{{ charge.montant }}</td>
        </tr>
        <tr>
            <th>Date d'échéance</th>
            <td>{% if charge.dateEcheance %}{{ charge.dateEcheance|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Statut</th>
            <td>{{ charge.statut }}</td>
        </tr>
        <tr>
            <th>Piecejointe</th>
            <td>{{ charge.pieceJointe }}</td>
        </tr>
        </tbody>
    </table>
    <div class="panel panel-default">
        <div class="panel-heading">Proprietaire devant s'acquitter de la charge</div>
        <div class="panel-body">
            <table class="table">
                <tbody>
                {% for proprietaire in charge.proprietaires %}
                    <tr>
                        <td>{{ proprietaire}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
