{% extends 'base.html.twig' %}

{% block body %}
    <h1>Charge</h1>
    <ul class="nav navbar-nav">
        <li>
            <a href="{{ path('charge_edit', { 'id': charge.id }) }}">Editer</a>
        </li>
        <li>
            <a href="{{ path('charge_delete', { 'id': charge.id }) }}">Supprimer</a>
        </li>
    </ul>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ charge.id }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ charge.titre }}</td>
        </tr>
        <tr>
            <th>Montant</th>
            <td>{{ charge.montant }}</td>
        </tr>
        <tr>
            <th>Date d'échéance</th>
            <td>{% if charge.dateEcheance %}{{ charge.dateEcheance|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Statut</th>
            <td>{{ charge.statut }}</td>
        </tr>
        <tr>
            <th>Facture</th>
            <td>{% if charge.piecejointe != null %}<a href="{{asset(charge.piecejointe.chemin)}}">{{ charge.piecejointe.nom }}</a>{% endif %} </td>

        </tr>
        </tbody>
    </table>
    <div class="panel panel-default">
        <div class="panel-heading">Propriétaire devant s'acquitter de la charge</div>
        <div class="panel-body">
            <table class="table">
                <tbody>
                {% for proprietaire in charge.proprietaires %}
                    <tr>
                        <td>{{ proprietaire}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Versement effectués</div>
        <div class="panel-body">
            <table class="table">
                <tbody>
                {%if charge.versements|length <1 %}
                    Aucune versements effectués
                {% endif %}

                {% for versement in charge.versements %}
                    <tr>
                        <td>{{versement.proprietaire}}</td>
                        <td>{{versement.date|date('Y-m-d')  }}</td>
                        <td>{{ versement.montant }}</td>
                        <td>{{ versement.type }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Versement restants</div>
        <div class="panel-body">
            <table class="table">
                {% set montanttotprop = charge.montant / charge.proprietaires|length %}
                <tbody>
                {% for proprietaire in charge.proprietaires %}
                    {% set montantpayeprop = 0 %}
                    {% for versement in proprietaire.versements %}
                        {% if versement.chargeliee == charge %}
                            {% set montantpayeprop = montantpayeprop + versement.montant %}
                        {% endif %}
                    {% endfor %}
                    {% if montanttotprop - montantpayeprop > 0  %}
                    <tr>
                        <td>{{proprietaire}}</td>
                        <td>Charge restante à payé: {{ montanttotprop - montantpayeprop }} </td>
                        {% if app.user.idproprietaire == proprietaire  %}<td><a  href="{{ path('versement_new', { 'id': charge.id }) }}">Effectuer un virement</a> </td>{% endif %}
                    </tr>
                    {% endif %}
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
