{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des conversations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conversation in conversations %}
            <tr>
                <td><a href="{{ path('conversation_show', { 'id': conversation.id }) }}">{{ conversation.id }}</a></td>
                <td>{{ conversation.titre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('conversation_show', { 'id': conversation.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('conversation_new') }}">Create a new conversation</a>
        </li>
    </ul>
{% endblock %}
