{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ conversation.titre }}</h1>


        {% for message in conversation.messages %}
            <div>
                <div>{{ message.idUser}}  {{  message.dateMessage|date('Y-m-d H:i:s') }}</div>
                <div>{{ message.text }}</div>

                <div>
                    <ul>
                        <li>
                            <a href="{{ path('message_edit', { 'id': message.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('message_delete', { 'id': message.id }) }}">delete</a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <input type="hidden" value="{{conversation.id}}" name="idConversation" class="btn btn-default" />
        <input type="submit" value="Create" class="btn btn-default" />
    {{ form_end(form) }}

{% endblock %}
