<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Accueil!{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/locale/bootstrap-table-zh-CN.min.js"></script>

    {% block stylesheets %}{% endblock %}
</head>
<body>
<div id="backgroundDisable" class="backgroundDisable"></div>
<div id="wrapper">
    <header id="header">
        <!-- top nav bar -->
        <nav class="navbar navbar-default navTop">
            <div class="container">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">



                    {% if is_granted('ROLE_ADMIN') %}
                        {{ include('template/menu_admin.html.twig') }}
                    {% endif %}
                    {% if is_granted('ROLE_PROPRIETAIRE') %}
                        {{ include('template/menu_proprietaire.html.twig') }}
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                        {% else %}
                            <li><a href="{{ path('login') }}">Connexion</a></li>
                        {% endif %}
                    </ul>
                 </div>
            </div>
        </nav>

    </header>
    <div id="content">
        <div class="container mainContainer">
            {{ include('template/messages') }}
            {% block body %}{% endblock %}
        </div>
    </div>
    <footer id="footer">
    </footer>
</div>

{% block javascripts %}{% endblock %}
</body>
</html>