{% extends 'base.html.twig' %}

{% block body %}
    <h1>Versement</h1>
    {% if(is_granted('ROLE_ADMIN')) %}
        <a href="{{ path('versement_index') }}">Aller à la liste des versements</a>
    {% else %}
        <a href="{{ path('versement_proprietaire_index') }}">Aller à la liste de vos versements</a>
    {% endif %}
    <a href="{{ path('charge_proprietaire_show', { 'id': versement.chargeliee.id }) }}">Consulter la charge correspondante</a>

    <table class="table">
        <tbody>
        <tr>
            <th>Montant</th>
            <td>{{ versement.montant }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{% if versement.date %}{{ versement.date|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ versement.type }}</td>
        </tr>
        </tbody>
    </table>

    <h3>Liste des pieces jointes</h3>
    <table class="table">
        <tbody>
        {% if versement.piecesJointes == null%}
            Aucune piece jointe
        {% else %}
            {% for pc in versement.piecesJointes%}
                <ul><li>
                        <a href="{{ asset(pc.chemin)}}" target="_blank">({{ pc.type }}) {{ pc.nom}}</a>
                    </li>
                </ul>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <div style="margin-top: 15px">
        <h3>Joindre une piece jointe</h3>
        {{ form_start(formPc) }}
        {{ form_widget(formPc) }}
        <input type="submit" value="Ajouter" class="btn btn-default" />
        {{ form_end(formPc) }}
    </div>
{% endblock %}
