{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des activités</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Note</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activite in activites %}
            <tr>
                <td><a href="{{ path('activite_show', { 'id': activite.id }) }}">{{ activite.id }}</a></td>
                <td>{{ activite.titre }}</td>
                <td>{{ activite.note }}</td>
                <td>{% if activite.date %}{{ activite.date|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('activite_show', { 'id': activite.id }) }}">Consulter</a>
                        </li>
                        <li>
                            <a href="{{ path('activite_edit', { 'id': activite.id }) }}">Editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('activite_new') }}">Créer une nouvelle activité</a>
        </li>
    </ul>
{% endblock %}
