{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Projet {{ projet.nom }} </h1>
        </div>
        <div class="panel-body">
            <table class="table">
                <tbody>

                <tr>
                    <th>Description</th>
                    <td>{{ projet.description }}</td>
                </tr>
                <tr>
                    <th>Statut</th>
                    <td>{{ projet.statut }}</td>
                </tr>
                <tr>
                    <th>Date d'ouverture</th>
                    <td>{% if projet.dateOuverture %}{{ projet.dateOuverture|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Date de cloture</th>
                    <td>{% if projet.dateCloture %}{{ projet.dateCloture|date('Y-m-d') }}{% endif %}</td>
                </tr>
                </tbody>
            </table>

            <div class="panel panel-default">
                <div class="panel-heading">Propriétaires concernés par le projet</div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                        {% for proprietaire in projet.personnesConcernees%}
                            <tr>
                                <td>{{ proprietaire}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Discussion</a></li>
                <li><a data-toggle="tab" href="#menu1">Sondages</a></li>
                <li><a data-toggle="tab" href="#activite">Activités</a></li>
                <li><a data-toggle="tab" href="#menu2">Pieces Jointes</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">

                    {% for message in projet.filDiscussion.messages %}
                        <div style="padding: 15px ; border-bottom: solid">
                            <div><h4>{{ message.idUser}} </h4> {{  message.dateMessage|date('Y-m-d H:i:s') }}</div>
                            <div style="display: inline-block ; width: 80%">{{ message.text }}</div>
                            {% if app.user.idProprietaire==message.idUser  %}
                                <div style="display: inline-block ; width: 15%">
                                    <ul>
                                        <li>
                                            <a href="{{ path('message_edit', { 'id': message.id }) }}">Editer</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('message_delete', { 'id': message.id }) }}">Supprimer</a>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div style="margin-top: 15px">
                        <h3>Ajouter un message</h3>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="hidden" value="{{projet.filDiscussion.id}}" name="idConversation"/>
                        <input type="submit" value="Créer" class="btn btn-default" />
                        {{ form_end(form) }}
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    {% if app.user.idProprietaire == projet.proprietaire %}
                        <a href="{{ path('sondage_new', { 'id': projet.id } ) }}">Créer un sondage</a>
                    {% endif %}

                    <table class="table">
                        <tbody>
                        {% for sondage in projet.listeSondage %}
                            <tr>
                                <td><a href="{{ path('sondage_show', { 'id': sondage.id }) }}">{{ sondage.id }}</a></td>
                                <td>{{ sondage.question }}</td>
                                <td>
                                    {% if app.user.idproprietaire.reponses|length > 0 %}
                                        {% set dejavote = 'false' %}
                                        {% set reponseuser = null %}
                                        {% for repuser in  app.user.idproprietaire.reponses if dejavote == 'false' %}
                                            {% if repuser in sondage.reponse %}
                                                {% set dejavote = 'true' %}
                                                {% set reponseuser = repuser %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if dejavote == 'true' %}
                                            Vous avez voté : {{ reponseuser.reponse }}
                                            {% for reponse in sondage.reponse%}
                                                <label class="radio-inline">{{ reponse.reponse }} : {{ reponse.users|length }} vote(s)  </label>
                                            {% endfor %}
                                        {% else %}
                                            <form name="form{{ sondage.id  }}" method="post" action="/proprietaire/projet/addvote/{{ sondage.id }}">
                                                {% for reponse in sondage.reponse%}
                                                    <label class="radio-inline">  <input type="radio" required name="reponseSondage{{ sondage.id }}" value="{{ reponse.id }}" >{{ reponse.reponse }}</label>
                                                {% endfor %}

                                                <input type="submit" class="btn btn-default">
                                            </form>
                                        {% endif  %}
                                    {% else %}
                                        <form name="form{{ sondage.id  }}" method="post" action="/proprietaire/projet/addvote/{{ sondage.id }}">
                                            {% for reponse in sondage.reponse%}
                                                <label class="radio-inline">  <input type="radio" required name="reponseSondage{{ sondage.id }}" value="{{ reponse.id }}" >{{ reponse.reponse }}     </label>
                                            {% endfor %}

                                            <input type="submit" class="btn btn-default">
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="activite" class="tab-pane fade">
                    <h3>Liste des activités liées au projet</h3>
                    <table class="table">
                        <tbody>
                        {% if projet.activites|length == 0%}
                            Aucune activité
                        {% else %}
                            {% for activite in projet.activites %}
                                <tr>
                                    <td>{{ activite.titre}} créer par {{ activite.redacteur.user.username }}</td>
                                    <td>
                                        Date : {{ activite.date|date('Y-m-d') }}
                                    </td>
                                    <td>Note optionnelle : {% if activite.note != null %} {{ activite.note }} {% else %} Aucune {% endif %}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>

                    <div style="margin-top: 15px">
                        <h3>Journaliser une activité</h3>
                        {{ form_start(formActivite) }}
                        {{ form_widget(formActivite) }}
                        <input type="submit" value="Journaliser" class="btn btn-default" />
                        {{ form_end(formActivite) }}
                    </div>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>Pieces jointes à faire</h3>

                </div>
            </div>

        </div>
    </div>

{% endblock %}
