<ul class="nav navbar-nav">
    <li><a href="{{ path('accueil_proprietaire') }}" class="navbar-brand">{{ app.user.username }}</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Conversations<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('conversation') }}">Mes Conversations</a></li>
            <li><a href="{{ path('conversation_new') }}">Créer une conversation</a></li>
        </ul>
    </li>
    <li><a href="{{ path('accueil_proprietaire') }}">Mes charges</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Projets<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('projet_index') }}">Mes Projets</a></li>
            <li><a href="{{ path('projet_new') }}">Créer un projet</a></li>
        </ul>
    </li>
</ul>