<ul class="nav navbar-nav">
    <li><a href="{{ path('accueil_admin') }}" class="navbar-brand">{{ app.user.username }}</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Propriétaire<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('accueil_admin') }}" class="">Liste des propriétaires</a></li>
            <li><a href="{{ path('addProprietaire') }}">Ajout d'un propriétaire</a></li>
            <li><a href="{{ path('generateProprietaire') }}">Générer 5 propriétaires</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Charge<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('listChargeAdmin') }}">Liste des charges</a></li>
            <li><a href="{{ path('addCharge') }}">Ajout d'une charge</a></li>
        </ul>
    </li>
</ul>